@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Montserrat";
    src: url(/Fonts/Monserat/Montserrat-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url(/Fonts/Monserat/Montserrat-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat";
    src: url(/Fonts/Monserat/Montserrat-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Montserrat";
    src: url(/Fonts/Monserat/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat";
    src: url(/Fonts/Monserat/Montserrat-ExtraBold.ttf);
    font-weight: 900;
}

 :root {
    --black: #222;
    --red: #B70038;
    --grey: #5D738D;
}

header {
    margin: 40px 0;
    background-color: white;
}

.logo .title {
    font-size: 2rem;
    color: var(--red);
    font-family: 'Playfair Display', serif;
}

.navbar-nav .nav-item {
    margin-right: 15px;
}

.navbar-nav .nav-item .nav-link {
    color: var(--grey);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
}

.navbar-nav .nav-item .nav-link:hover {
    color: var(--red);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

article .row div {
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.content-type {
    font-size: 0.9rem;
    margin: 14px 0;
    padding-left: 10px;
    border-left: 2px solid var(--red);
    color: var(--grey);
    text-transform: uppercase;
    font-weight: 400;
}

.content-link {
    color: var(--black);
    font-size: 1.1rem;
    text-decoration: none;
    transition: .3s ease-in-out;
    font-weight: 600;
}

.content-date {
    font-size: 0.9rem;
    color: var(--grey);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 8px;
}

.img-box {
    position: relative;
    overflow: hidden;
    background: #222;
}

.image {
    transform: scale(1.12);
    transition: .3s ease-in-out;
    opacity: 1;
}

.img-box {
    position: relative;
    width: 100%;
    height: 100%;
}

.image {
    width: 100%;
    height: 100%;
}

.item-box:hover .image {
    transform: scale(1);
    opacity: .5;
}

.item-box:hover .content-link {
    color: #222;
    border-bottom: 1px solid #B70038;
}

footer {
    margin: 150px 0 0 0;
    padding: 30px 0 20px 0;
    /* background-color: #F4F6F8; */
    border-top: 1px solid #ECF0F1;
}

.copy-right,
.follow-box a {
    font-weight: 400;
}

.follow-box a {
    color: var(--black);
    font-size: 1.2rem;
    margin-right: 10px;
    color: var(--grey);
}

.follow-box a:hover {
    color: var(--red);
}

@media (min-width:0) and (max-width:576px) {
    header {
        margin: 10px 0 10px 0;
        padding: 0;
    }
    .logo .title {
        font-size: 1.5rem;
    }
    .navbar-nav {
        margin: 0;
        padding: 10px 0;
    }
    /* .navbar-nav .nav-item {
        margin-right: 0px;
    } */
    .navbar-nav .nav-item .nav-link {
        font-size: 0.9rem;
    }
    article .row div {
        margin-bottom: 10px;
    }
    .row {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .content-type {
        font-size: 0.8rem;
        margin: 10px 0;
        padding-left: 10px;
    }
    .content-link {
        font-size: 1rem;
    }
    .content-date {
        font-size: 0.8rem;
        margin-top: 10px;
    }
    footer {
        margin: 50px 0 0 0;
        padding: 20px 0 10px 0;
    }
    .footer-box {
        display: flex;
        flex-direction: column;
    }
    .copy-right {
        padding-bottom: 5px;
        font-size: 0.9rem;
    }
    .follow-box a {
        font-size: 1.1rem;
        margin-right: 20px;
    }
}

@media (min-width:577px) and (max-width:768px) {
    header {
        margin: 30px 0;
        padding: 0;
    }
    .logo .title {
        font-size: 1.8rem;
    }
    article .row div {
        margin-bottom: 10px;
    }
    .row {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .content-type {
        font-size: 0.9rem;
        margin: 14px 0;
        padding-left: 10px;
    }
    .content-link {
        font-size: 1.05rem;
        text-align: justify;
    }
    .content-date {
        font-size: 1rem;
        margin-top: 10px;
    }
    footer {
        margin: 80px 0 0 0;
        padding: 30px 0 20px 0;
    }
}